body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f0f0f0;
overflow-x: hidden; 
}

.container {
display: flex;
min-height: 100vh;
width: 100%;
}

main {
width: 100%;
overflow-x: hidden; 
}

nav {
background-color: #fff;
width: 170px;
padding: 0;
display: flex;
flex-direction: column;
height: 100vh;
position: fixed;
overflow-y: auto; 
}

.main-content {
position: relative;
margin-left: 200px;
padding: 5px;
width: calc(100% - 200px);
overflow-x: hidden; 
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
}

nav ul li a:hover {
  color: #fff;
  background-color: #4CAF50;
}

.menu-divider, .menu-divider2 {
  height: 1px;
  background-color: #ddd;
  margin: 0 0 10px;
  width: 100%;
}

.greeting {
  padding: 17.5px;
  font-size: 1.5em;
}
.centralcomm-box {
text-align: center;
margin: 10px 0 0 0;
font-size: 24px;
}

.bottom-menu {
margin-top: 250px;
}

.top-bar {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}


.new-item-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.search-bar {
  width: 300px;
  height: 30px;
  margin-left: 50px;
}

.new-item-table-container {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
border-radius: 13px;
}

.item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkbox {
  margin-right: 15px;
}

.date {
  margin-right: 20px;
  padding: 5px;
  font-size: 14px;
}


.status-bar-container {
  width: 10%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 5px;
  position: relative;
}

.status-bar-container:hover .status-text {
  display: block; 
}

.status-bar {
  height: 100%;
  width: 0%;
  background-color: #4caf50;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 5px 0 0 5px;
  transition: width 0.5s ease-in-out;
}
.status-text {
  margin-top: 20px;
  font-size: 1em;
  display: none; 
  position: absolute; 
  left: -180px;
  top: -18px;
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 5px;
  border-radius: 5px;
  z-index: 1; 
}

.Open-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
}

.Open-button:hover {
  background-color: #45a049;
}

.item-row:hover {
  background-color: #f9f9f9;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}


.drawer {
margin-top: 10px;
padding: 10px;
border: 1px solid #ddd;
background-color: white;
width: 100%;
display: flex;
flex-direction: column;
height: 100%; 
position: relative; 
overflow: hidden;
}


.receiving-list-container {
  max-height: 100%; 
  max-width: 100%;
  overflow-y: auto; 
  margin-bottom: 50px;
}

.receiving-list {
  width: 100%;
  border-collapse: collapse;
}

.receiving-list th, .receiving-list td{
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.receiving-list th {
  background-color: yellow;
}



.drawer_New-button {
background-color: white;
color: black;
padding: 10px;
border: none;
cursor: pointer;
font-size: 14px;
border-radius: 5px;
position: absolute; 
bottom: 10px; 
left: 10px; 
}

.drawer_Undo-button {
background-color: white;
color: black;
padding: 10px;
border: none;
cursor: pointer;
font-size: 14px;
border-radius: 5px;
position: absolute; 
bottom: 10px; 
left: 155px; 
}

.drawer_Remove-button {
background-color: white;
color: black;
padding: 10px;
border: none;
cursor: pointer;
font-size: 14px;
border-radius: 5px;
position: absolute; 
bottom: 10px; 
left: 70px; 
}

.submit {
background-color: white;
color: black;
padding: 10px;
border: none;
cursor: pointer;
font-size: 14px;
border-radius: 5px;
position: absolute; 
bottom: 10px; 
right: 10px;
}

.drawer_New-button:hover {
  background-color: #45a049;
}

.drawer_Undo-button:hover {
  background-color: yellow;
}

.drawer_Remove-button:hover {
  background-color: red;
}
.submit:hover {
  background-color: #618EDD;
}

.selected {
background-color: #c8e6c9;
transition: background-color 0.3s ease;
}

.drawer.open {
background-color: #B8B8B8;
color: black;
padding: 10px;
border-radius: 13px;
}
.drawer.open .receiving-list-container {
background-color: transparent;
}

.drawer.open .receiving-list th {
background-color: yellow;
}
.drawer.open .receiving-list td {
background-color: white; 
color: black; 
}

#popupContainer {
position: fixed;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
background-color: #f1f1f1;
border: 1px solid #ccc;
border-radius: 8px;
padding: 10px 20px;
display: none;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


#popupContainer button {
margin: 5px;
padding: 8px 15px;
font-size: 14px;
cursor: pointer;
border: none;
border-radius: 4px;
background-color: #007bff;
color: #fff;
transition: background-color 0.3s ease;
}

#popupContainer button:hover {
background-color: #0056b3;
}